@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


  :root{
    --Grayish-blue: hsl(237, 18%, 59%);
    --Soft-red: hsl(345, 95%, 68%);
    /* ### Neutral */
    --White: hsl(0, 0%, 100%);
    --Dark-desaturated-blue: hsl(236, 21%, 26%);
    --Very-dark-blue: hsl(235, 16%, 14%);
    --Very-very-dark-blue: hsl(234, 17%, 12%);
  }


*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body {
  font-family: 'Red Hat Text', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: var(--Very-dark-blue);
}

.attribution{
  text-align: center;
}

a {
  color: hsl(228, 45%, 44%);
}

.countdown{
  @apply p-10 bg-dark-desaturated-blue text-soft-red text-[46px] rounded-md
}
.count-text{
  @apply mt-5 uppercase text-base text-grayish-blue tracking-[0.3rem]
}
/* img{
  max-width:100vw;
} */

